.toolbar{
    color: white;
    --background: none;
    background: linear-gradient(121deg,  #1cd89f 0%, #13ad7f 50%, #1cd89f 100%) 0 0/600% 600% no-repeat;

    animation: AnimationName 8s ease infinite;

    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

ion-content{
    --background: #4ec29f;
}
ion-grid{
    margin-top: 1.5em;
}

ion-card{
    --background: white;
}

ion-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

/*ion-grid{
    display: table !important;
    width: 70% !important;
    height: 100% !important;
}

ion-row{
    display: table-cell;
    vertical-align: middle;
}*/

.yo{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}