<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="menu/main"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ user.first_name }} {{ user.last_name }} - Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-content>
      {{ user.name }} {{ user.email }}
    </ion-card-content>
  </ion-card>
 
  <ion-button expand="block" (click)="logout()">Logout</ion-button>
 
</ion-content>
