.toolbar{
    color: white;
    --background: none;
    background: linear-gradient(121deg, #1cd89f 0%, #13ad7f 50%, #1cd89f 100%) 0 0/600% 600% no-repeat;

    animation: AnimationName 8s ease infinite;

    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

ion-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.imgg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  margin-bottom: 50%;
  border-radius: 50%;
  border: 4px solid var(--ion-color-primary);
}

.imgg:hover{
  border: 16px solid var(--ion-color-secondary);
}