<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes da Planta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="flower barbarian">
        <div class="flower__image flower__image--barbarian">
          <img src="../../../assets/plants/{{plant.id}}.png"/>
        </div>
        <div class="flower__level flower__level--barbarian">{{ plant.scientific_name }}</div>
        <div class="flower__unit-name">{{ plant.common_name }}</div>
        <div class="flower__unit-description">

          <b>Altura:</b> {{ plant.min_height }} a {{ plant.max_height }} cm.
          <br/>
          <b>Nativa de:</b> {{ plant.native }}
          <br/>
          {{ plant.description }}
          <br/><br/>
          <i>Fonte: Jardim Botânico UTAD</i>
        </div>
  
        
  
      </div> <!-- end flower barbarian-->

      <div class="flower__unit-stats flower__unit-stats--barbarian clearfix">
        <div class="one-third">
          <div class="stat" *ngIf="plant.classifiable == 1">Sim</div>
          <div class="stat" *ngIf="plant.classifiable == 0">Não</div>
          <div class="stat-value">Classificável</div>
        </div>

        <div class="one-third">
          <div class="stat">{{ plant.id }}</div>
          <div class="stat-value">ID</div>
        </div>

        <div class="one-third no-border" (click)="moreInfo()">
          <div class="stat">Wiki</div>
          <div class="stat-value">Info</div>
        </div>

      </div>
</ion-content>
