.toolbar{
    color: white;
    --background: none;
    background: linear-gradient(121deg, #1cd89f 0%, #13ad7f 50%, #1cd89f 100%) 0 0/600% 600% no-repeat;

    animation: AnimationName 8s ease infinite;

    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

ion-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

//$border-radius-size: 14px;
$border-radius-size: 0px;
//$barbarian: #EC9B3B;
$barbarian: var(--ion-color-primary);

*, *:before, *:after {
  box-sizing: border-box;
}

ion-content {
  font: 14px/20px "Lato", Arial, sans-serif;
  margin-top: 30px;
}

/*.flower-old {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}*/

.flower {
  background: white;
  margin: auto;
  text-align: center;
  overflow: scroll;
  margin-bottom: 20px;
}

.flower__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.flower__image--barbarian {
  img {
    max-height: 100%;
    border-bottom: 4px solid var(--ion-color-primary);
    border-left: 4px solid var(--ion-color-primary);
    border-right: 4px solid var(--ion-color-primary);
  }
}

.flower__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.flower__level--barbarian {
  color: $barbarian;
}

.flower__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.flower__unit-description {
  padding: 20px;
  margin-bottom: 10px;  
}

.flower__unit-stats--barbarian {
  background: $barbarian;
  
  .one-third {
     //border-right: 1px solid #BD7C2F;
     border-right: 1px solid var(--ion-color-primary-shade);
  }
}

.flower__unit-stats {
  text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }
  
  sup {
    position: absolute;
    bottom: 4px; 
    font-size: 45%;
    margin-left: 2px;
  }
  
  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}