<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes da Planta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="clash-card barbarian">
        <div class="clash-card__image clash-card__image--barbarian">
          <img src="../../../assets/plants/1.png" alt="barbarian" />
        </div>
        <div class="clash-card__level clash-card__level--barbarian">Quercus faginea</div>
        <div class="clash-card__unit-name">Carvalho Português</div>
        <div class="clash-card__unit-description">
          O carvalho-português tem folhas marcescentes. Assim como os demais carvalhos, produz a bolota ou landra como fruto, que é usada como alimento por vários animais, como o javali, os esquilos, que muitas vezes as enterram e se esquecem, acabando por ser plantadores naturais da espécie.
        </div>
  
        <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
          <div class="one-third">
            <div class="stat">Caduca</div>
            <div class="stat-value">Folhagem</div>
          </div>
  
          <div class="one-third">
            <div class="stat">≤ 25m</div>
            <div class="stat-value">Altura</div>
          </div>
  
          <div class="one-third no-border">
            <div class="stat">300</div>
            <div class="stat-value">Idade (Anos)</div>
          </div>
  
        </div>
  
      </div> <!-- end clash-card barbarian-->
</ion-content>
